html {
    font-size: 62.5%;
    background-color: #f4f4f4
}
body {
    font-family: 'arial';
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
    color: #333;
    font-size: 12px;
    min-width: 320px;
}

ul,ol {
    list-style: none
}

i,em,var,tt {
    font-style: normal
}

body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,form,input,textarea,article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary,button {
    margin: 0;
    padding: 0;
}

img {
    border: 0
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal
}

input,img {
    vertical-align: middle
}

a:link,a:visited {
    text-decoration: none
}

a,li,input,button,section,span,div {
    -webkit-tap-highlight-color: transparent
}

input,textarea {
    -webkit-appearance: none;
    outline: 0
}

button {
    border: 0;
    outline: 0
}

.bu-hide {
    display: none!important
}

.bu-fixed {
    position: fixed!important
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.footer {
    margin-top: 15px;
    background-color: #f4f4f4!important
}

.footer .foot_icon {
    position: relative;
    display: -webkit-box;
    -webkit-box-pack: center;
    margin-bottom: -3px;
    border-bottom: 1px dashed #2a2a2a;
    height: 18px;
    background-color: transparent
}

.foot_icon i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("//pages.anjukestatic.com/usersite/touch/img/global/7/base_i_b.png");
    background-size: 43px;
    background-position: -1px 0
}

.footer .flink {
    height: auto;
    background-color: #494949;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    padding-bottom: 34px
}

.flink a {
    display: inline-block
}

.flink a:link,.flink a:hover,.flink a:active,.flink a:visited {
    color: #ddd;
    line-height: 25px;
    margin: 0 2px;
    text-decoration: none
}

.flink em {
    color: #999;
    font-style: normal
}

.flink span {
    color: #2a2a2a;
    line-height: 30px;
    text-shadow: 1px 1px 1px #565656
}
.footer {
    background: #fff!important
}