<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./static/bootstrap.min.css">
    <link rel="stylesheet" href="./static/style.css">
    <script type="text/javascript" src="./static/jquery.min.js"></script>
    <script type="text/javascript" src="./static/bootstrap.min.js"></script>
</head>
<body>
    <h1>添加页面</h1>
    <div>
        <form action="/save" method="post">
            <div class="form-group">
                <label for="CronTime">定时</label>
                <input type="text" class="form-control" name="CronTime" id="CronTime" autocomplete="false" placeholder="* * * * *">
            </div>
            <div class="form-group">
                <label for="type">类型</label>
                <label class="radio-inline">
                    <input type="radio" name="type" value="1"> 脚本
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" value="2"> 请求
                </label>
            </div>
            <div class="form-group">
                <label for="command">执行体</label>
                <input type="text" class="form-control" name="command" id="command" autocomplete="false" placeholder="请输入请求连接或脚本">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <a href="/" class="btn btn-block">返回列表</a>
        </form>
    </div>
</body>
</html>