<div class="footer">
    <div class="foot_icon"><i onclick="window.scrollTo(0,1)"></i></div>
    <div class="flink">
        <a href="https://m.anjuke.com/zz/xiaoqu/">小区大全</a><em>|</em>
        <a href="https://m.anjuke.com/zz/sitemap/">网站地图</a><em>|</em>
        <a href="https://m.anjuke.com/zz/propsitemap/esf/">最新房源</a><em>|</em>
        <a rel="nofollow" href="https://m.anjuke.com/zz/caculator/" data-soj="tw_footer">房贷计算器</a><em>|</em>
        <a rel="nofollow" href="https://m.anjuke.com/assess/form/?city_id=342" data-soj="tw_dbdh_gujia">估价</a><br>
        <a href="javascript:void(0);">手机版</a><em>|</em>
        <a id="pcPage" href="https://www.anjuke.com/?twe=4">电脑版</a><em>|</em>
        <a rel="nofollow" href="https://m.anjuke.com/zz/sitemap/" id="footerApp">客户端</a>
        <em>|</em>
        <a rel="nofollow" href="/user-agreement/">免责声明</a>
        <em>|</em>
        <a rel="nofollow" href="//m.anjuke.com/app-ad-static/contact.html">联系我们</a>
        <br>
        <span>Copyright&nbsp;©&nbsp;2007-2023&nbsp;Anjuke.com&nbsp;沪B2-20090008</span>
    </div>
</div>