<div class="footer">
    <div class="foot_icon"><i onclick="window.scrollTo(0,1)"></i></div>
    <div class="flink">
        <a href="https://m.anjuke.com/zz/xiaoqu/">小区大全</a><em>|</em>
        <a href="https://m.anjuke.com/zz/sitemap/">网站地图</a><em>|</em>
        <a rel="nofollow" href="/user-agreement/">免责声明</a><em>|</em>
        <a rel="nofollow" href="//m.anjuke.com/app-ad-static/contact.html">联系我们</a>
        <br>
        <span>Copyright&nbsp;©&nbsp;2023&nbsp;Anjuke.com&nbsp;京B2-20090008</span>
    </div>
</div>