亲爱的%s：
<br>
<br>
以下6位数字是邮箱验证码，请在网站上填写以通过验证
<p style="font-family: 'Nunito', Arial, Tahoma, Geneva, sans-serif; color: #aaaaaa; font-size: 16px; line-height: 32px;">(如果您从未请求发送邮箱验证码，请忽略此邮件)</p>
<div style="width: 100px;">
    <span style="display: block; border: 1px solid #6777ef; border-radius: 0px; padding: 6px 12px; font-family: 'Nunito', Arial, Verdana, Tahoma, Geneva, sans-serif; color: #ffffff; font-size: 20px; line-height: 30px; text-decoration: none; white-space: nowrap; font-weight: 600;">
        <font face="'Nunito', sans-serif" color="#ffffff" style="font-size: 20px; line-height: 30px; text-decoration: none; white-space: nowrap; font-weight: 600;">
            <span style="font-family: 'Nunito', Arial, Verdana, Tahoma, Geneva, sans-serif; color: red; font-size: 20px; line-height: 30px; text-decoration: none; white-space: nowrap; font-weight: 600;">%s</span>
        </font>
    </span>
</div>
<div style="clear:both;height:1px;"></div>
